.form-card {
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
  background-color: white;
  padding-top: 10vh;
  padding-bottom: 20vh;
}

.page-row {
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.form-row {
  justify-content: center;
}

.form-label-text {
  margin-bottom: 0;
  margin-left: 2.5%;
  font-size: 80%;
  font-weight: 500;
}

.input-field {
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
}

.login-button {
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
  margin-top: 8%;
  font-weight: 600;
}

.error-text {
  color: red;
}
